LogicApps/ParsedAccountEntities/ParsedAccountEntities.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "",
    "description": "",
    "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
    "entities": [],
    "tags": [],
    "support": {
      "tier": "community",
      "armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
    },
    "author": {
      "name": ""
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "ParsedAccountEntities",
      "type": "string"
    },
    "Domain or UPN Suffix": {
      "type": "String",
      "metadata": {
        "description": "Enter value for Domain or UPN Suffix"
      }
    }
  },
  "variables": {
    "MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
    "AzureadConnectionName": "[concat('Azuread-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "Domain or UPN Suffix": {
              "type": "String",
              "defaultValue": "[parameters('Domain or UPN Suffix')]"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel_3']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "For_each": {
              "foreach": "@triggerBody()?['object']?['properties']?['relatedEntities']",
              "actions": {
                "Switch": {
                  "cases": {
                    "Account-Entity": {
                      "case": "Account",
                      "actions": {
                        "CheckIfEmail": {
                          "actions": {
                            "CheckIfInternalEmail": {
                              "actions": {
                                "Append_to_array_variable": {
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "UPN",
                                    "value": "@items('For_each')?['properties']?['friendlyName']"
                                  }
                                }
                              },
                              "else": {
                                "actions": {}
                              },
                              "expression": {
                                "and": [
                                  {
                                    "contains": [
                                      "@items('For_each')?['properties']?['friendlyName']",
                                      "@parameters('Domain or UPN Suffix')"
                                    ]
                                  }
                                ]
                              },
                              "type": "If"
                            }
                          },
                          "else": {
                            "actions": {
                              "Condition_3": {
                                "actions": {
                                  "Append_to_array_variable_2": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                      "name": "UPN",
                                      "value": "@items('For_each')?['properties']?['additionalData']?['upnName']"
                                    }
                                  }
                                },
                                "else": {
                                  "actions": {
                                    "Append_to_array_variable_4": {
                                      "runAfter": {
                                        "Get_user_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "AppendToArrayVariable",
                                      "inputs": {
                                        "name": "UPN",
                                        "value": "@body('Get_user_2')?['userPrincipalName']"
                                      }
                                    },
                                    "Get_user_2": {
                                      "type": "ApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connection": {
                                            "name": "@parameters('$connections')['azuread']['connectionId']"
                                          }
                                        },
                                        "method": "get",
                                        "path": "/v1.0/users/@{encodeURIComponent(items('For_each')?['properties']?['aadUserId'])}"
                                      }
                                    }
                                  }
                                },
                                "expression": {
                                  "and": [
                                    {
                                      "not": {
                                        "equals": [
                                          "@items('For_each')?['properties']?['additionalData']?['upnName']",
                                          ""
                                        ]
                                      }
                                    }
                                  ]
                                },
                                "type": "If"
                              }
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "contains": [
                                  "@items('For_each')?['properties']?['friendlyName']",
                                  "@"
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        }
                      }
                    },
                    "Mail-Entity": {
                      "case": "MailMessage",
                      "actions": {
                        "Condition": {
                          "actions": {
                            "Append_to_array_variable_5": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "UPN",
                                "value": "@items('For_each')?['properties']?['recipient']"
                              }
                            }
                          },
                          "else": {
                            "actions": {}
                          },
                          "expression": {
                            "and": [
                              {
                                "contains": [
                                  "@items('For_each')?['properties']?['recipient']",
                                  "@parameters('Domain or UPN Suffix')"
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        }
                      }
                    },
                    "Mailbox-Entity": {
                      "case": "Mailbox",
                      "actions": {
                        "Append_to_array_variable_3": {
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "UPN",
                            "value": "@items('For_each')?['properties']?['MailboxPrimaryAddress']"
                          }
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {}
                  },
                  "expression": "@items('For_each')?['kind']",
                  "type": "Switch"
                }
              },
              "runAfter": {
                "UPN": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Initialize_variable": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "DeduplicatedUPNs",
                    "type": "array",
                    "value": "@union(variables('UPN'),variables('UPN'))"
                  }
                ]
              }
            },
            "UPN": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "UPN",
                    "type": "array"
                  }
                ]
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel_3": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "azuread": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureadConnectionName'))]",
                "connectionName": "[variables('AzureadConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuread')]"
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "hidden-SentinelTemplateName": "ParsedAccountEntities",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('AzureadConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureadConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureadConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuread')]"
        }
      }
    }
  ]
}
