LogicApps/Improved_Reset_Sessions/Parse_and_Revoke.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "Parse_and_Revoke",
"type": "string"
},
"UPN Suffix": {
"type": "String",
"metadata": {
    "description": "Enter value for UPN Suffix"
}
}
},
"variables": {
"AzureadConnectionName": "[concat('Azuread-', parameters('PlaybookName'))]",
"MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
},
"resources": [
{
"properties": {
    "provisioningState": "Succeeded",
    "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
            "defaultValue": {},
            "type": "Object"
        },
        "UPN Suffix": {
            "defaultValue": "[parameters('UPN Suffix')]",
            "type": "String"
        }
    },
    "triggers": {
        "Microsoft_Sentinel_incident": {
            "type": "ApiConnectionWebhook",
            "inputs": {
                "body": {
                    "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                    }
                },
                "path": "/incident-creation"
            }
        }
    },
    "actions": {
        "For_Each_Account_In_Array": {
            "foreach": "@variables('DeduplicatedUPNs')",
            "actions": {
                "Add_comment_to_incident_(V3)": {
                    "runAfter": {
                        "Revoke-Sessions-HTTP-Request": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "incidentArmId": "@triggerBody()?['object']?['id']",
                            "message": "<p>User @{items('For_Each_Account_In_Array')} has had their sessions revoked.</p>"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/Incidents/Comment"
                    }
                },
                "Revoke-Sessions-HTTP-Request": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                    "authentication": {
                        "audience": "https://graph.microsoft.com",
                        "type": "ManagedServiceIdentity"
                    },
                    "method": "POST",
                    "uri": "https://graph.microsoft.com/v1.0/users/@{items('For_Each_Account_In_Array')}/revokeSignInSessions"
                }
            }
        },
        "runAfter": {
            "Initialize_variable": [
                "Succeeded"
            ]
        },
        "type": "Foreach"
    },
    "For_each": {
        "foreach": "@triggerBody()?['object']?['properties']?['relatedEntities']",
        "actions": {
            "Switch": {
            "runAfter": {},
            "cases": {
                "Account-Entity": {
                    "case": "Account",
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Condition_2": {
                                    "actions": {
                                        "Append_to_array_variable": {
                                        "runAfter": {},
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                            "name": "UPN",
                                            "value": "@items('For_each')?['properties']?['friendlyName']"
                                        }
                                    }
                                },
                            "runAfter": {},
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@item()?['properties']?['friendlyName']",
                                            "@parameters('UPN Suffix')"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                "runAfter": {},
                "else": {
                    "actions": {
                        "Condition_3": {
                            "actions": {
                                "Append_to_array_variable_2": {
                                "runAfter": {},
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                    "name": "UPN",
                                    "value": "@items('For_each')?['properties']?['additionalData']?['upnName']"
                                }
                            }
                        },
                    "runAfter": {},
                    "else": {
                        "actions": {
                            "Append_to_array_variable_4": {
                                "runAfter": {
                                    "Get_user_2": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                    "name": "UPN",
                                    "value": "@body('Get_user_2')?['userPrincipalName']"
                                }
                            },
                            "Get_user_2": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuread_1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v1.0/users/@{encodeURIComponent(items('For_each')?['properties']?['aadUserId'])}"
                            }
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@items('For_each')?['properties']?['additionalData']?['upnName']",
                                    ""
                                ]
                            }
                        }
                    ]
                },
                "type": "If"
            }
        }
    },
    "expression": {
        "and": [
            {
                "contains": [
                    "@item()?['properties']?['friendlyName']",
                    "@"
                ]
            }
        ]
    },
    "type": "If"
}
}
},
"Mail-Entity": {
"case": "MailMessage",
"actions": {
"Append_to_array_variable_5": {
"runAfter": {},
"type": "AppendToArrayVariable",
"inputs": {
    "name": "UPN",
    "value": "@items('For_each')?['properties']?['recipient']"
}
}
}
},
"Mailbox-Entity": {
"case": "Mailbox",
"actions": {
"Append_to_array_variable_3": {
"runAfter": {},
"type": "AppendToArrayVariable",
"inputs": {
"name": "UPN",
"value": "@items('For_each')?['properties']?['MailboxPrimaryAddress']"
}
}
}
}
},
"default": {
"actions": {}
},
"expression": "@item()?['kind']",
"type": "Switch"
}
},
"runAfter": {
"UPN": [
"Succeeded"
]
},
"type": "Foreach"
},
"Initialize_variable": {
"runAfter": {
"For_each": [
"Succeeded"
]
},
"type": "InitializeVariable",
"inputs": {
"variables": [
{
"name": "DeduplicatedUPNs",
"type": "array",
"value": "@union(variables('UPN'),variables('UPN'))"
}
]
}
},
"UPN": {
"runAfter": {},
"type": "InitializeVariable",
"inputs": {
"variables": [
{
"name": "UPN",
"type": "array"
}
]
}
}
}
},
"parameters": {
"$connections": {
"value": {
"azuread_1": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureadConnectionName'))]",
"connectionName": "[variables('AzureadConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuread')]"
},
"azuresentinel_1": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
"connectionName": "[variables('MicrosoftSentinelConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
"connectionProperties": {
"authentication": {
"type": "ManagedServiceIdentity"
}
}
}
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
"hidden-SentinelTemplateName": "Parse_and_Revoke",
"hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": [
"[resourceId('Microsoft.Web/connections', variables('AzureadConnectionName'))]",
"[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('AzureadConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('AzureadConnectionName')]",
"customParameterValues": {},
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuread')]"
}
}
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('MicrosoftSentinelConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('MicrosoftSentinelConnectionName')]",
"customParameterValues": {},
"parameterValueType": "Alternative",
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
}
}
}
]
}
