LogicApps/AddCompanyTag/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "TagIncidentWithCompany",
"type": "string"
}
},
"variables": {
"MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
},
"resources": [
{
"properties": {
    "provisioningState": "Succeeded",
    "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "Microsoft_Sentinel_incident": {
            "type": "ApiConnectionWebhook",
            "inputs": {
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                    }
                },
                "body": {
                    "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
            }
        }
    },
    "actions": {
        "Entities_-_Get_Accounts": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                }
            },
            "method": "post",
            "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
            "path": "/entities/account"
        }
    },
    "For_each": {
        "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
        "actions": {
            "ParseAccounts": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@items('For_each')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "accountName": {
                                "type": "string"
                            },
                            "upnSuffix": {
                                "type": "string"
                            },
                            "aadTenantId": {
                                "type": "string"
                            },
                            "aadUserId": {
                                "type": "string"
                            },
                            "isDomainJoined": {
                                "type": "boolean"
                            },
                            "displayName": {
                                "type": "string"
                            },
                            "additionalData": {
                                "type": "object",
                                "properties": {
                                    "Sources": {
                                        "type": "string"
                                    },
                                    "IsDeleted": {
                                        "type": "string"
                                    },
                                    "IsEnabled": {
                                        "type": "string"
                                    },
                                    "MailAddress": {
                                        "type": "string"
                                    },
                                    "TransitiveDirectoryRoles": {
                                        "type": "string"
                                    },
                                    "UserType": {
                                        "type": "string"
                                    },
                                    "UpnName": {
                                        "type": "string"
                                    },
                                    "SyncFromAad": {
                                        "type": "string"
                                    },
                                    "PhoneNumber": {
                                        "type": "string"
                                    },
                                    "Country": {
                                        "type": "string"
                                    },
                                    "City": {
                                        "type": "string"
                                    },
                                    "State": {
                                        "type": "string"
                                    },
                                    "StreetAddress": {
                                        "type": "string"
                                    },
                                    "AdditionalMailAddresses": {
                                        "type": "string"
                                    }
                                }
                            },
                            "friendlyName": {
                                "type": "string"
                            },
                            "Type": {
                                "type": "string"
                            },
                            "Name": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "HTTP": {
                "runAfter": {
                    "ParseAccounts": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/users/@{body('ParseAccounts')?['friendlyName']\r\n}?$select=companyName",
                    "method": "GET",
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://graph.microsoft.com"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "ExtractCompanyName": {
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "@@odata.context": {
                                "type": "string"
                            },
                            "companyName": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "Update_incident": {
                "runAfter": {
                    "ExtractCompanyName": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "put",
                    "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "tagsToAdd": {
                            "TagsToAdd": [
                                {
                                    "Tag": "Company: @{body('ExtractCompanyName')?['companyName']}"
                                }
                            ]
                        }
                    },
                    "path": "/Incidents"
                }
            }
        },
        "runAfter": {
            "Entities_-_Get_Accounts": [
                "Succeeded"
            ]
        },
        "type": "Foreach"
    }
},
"outputs": {}
},
"parameters": {
"$connections": {
"value": {
    "azuresentinel": {
        "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
        "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
        "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
        "connectionProperties": {
            "authentication": {
                "type": "ManagedServiceIdentity"
            }
        }
    }
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"identity": {
"type": "SystemAssigned"
},
"tags": {
"hidden-SentinelTemplateName": "TagIncidentWithCompany",
"hidden-SentinelTemplateVersion": "1.0"
},
"apiVersion": "2017-07-01",
"dependsOn": [
"[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('MicrosoftSentinelConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('MicrosoftSentinelConnectionName')]",
"customParameterValues": {},
"parameterValueType": "Alternative",
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
}
}
}
]
}
